body{
    background: #111;
	font-family: 'Hind Madurai', sans-serif;
}
.chronometer{
    font-size: 5em;
	transform:translate(-50%, -50%);
	padding:5px;
	position:fixed;
	left:50%;
    top:50%;
	color:#FF9500  ;
	text-align:center;
}
.chronometer h1{
	font-size: 1.2em;
}

#stop{
	display: none;
}
#start,#edit,#restart,#stop{
	width: 150px;
	height: 50px;
	background-color: transparent;
	border:2px solid #FF9500;
	border-radius:3px ;
	font-size: 20px;
	color: #FF9500;
	position: relative;
	transition: 2s ease all;
	overflow: hidden;
} 
#start span,#edit span,#restart span,#stop span{
	transition: .3s ease-in-out all;
	z-index: 21;
}
#start:hover span,#edit:hover span,#restart:hover span,#stop:hover span{
color: #111;
}
#start::after,#edit::after,#restart::after,#stop::after{
	content: '';
	position: absolute;
	width: 1px;
	height: 1px;
	border-radius: 100px;
	z-index: -5;
	top: 50%;
	left: 50%;
	transition: .3s ease-in-out all;
	transform-origin: center;
}
#start:hover::after, #edit:hover::after, #restart:hover::after, #stop:hover::after {
	transform: scale(500);
	background-color: #FF9500;
}

.edit-table{
	text-align: center;
	background-color: #5f5f5f;
	width:0;
	overflow: hidden;
}
.edit-table h2,p{
	color: #fff;
	margin-top: 15px;
}
.edit-table span{
	height: 24px;
	width: 30px;
}
.edit-table input{
	width: 170px;
	border-radius: 3px;
	border: #111 2px solid;
}
.title{ 
	background-color: #484848;
	color: #fff; 
	height: 50px; 
	padding: 10px; 
	font-size: 1.5em;
	border-bottom: 1px solid #fff;
} 
.title h3{
	font-size: 1.8em;
}
.title span{
	 cursor: pointer; 
} 
.title span:hover{ 
	font-size: 1.3em;
}
.submit{
	margin: 25px;
}
.inputs{
	margin: auto;
}
.mostrar{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width:25%;
	z-index: 10000;
}